## Fake Firehose will only take local posts from these domains

### Tech ###
infosec.exchange
ioc.exchange
tech.lgbt
techhub.social
fosstodon.org

### News & Politics ###
journa.host

### Cool People ### 
raynor.haus